$primary-color:  #202729;
$secondary-color: #9ABDC6;
$tertiary-color: #59A7BA;
$quaternary-color: #1c353B;
$quinary-color: #417987;
$white: #FFFFFF;
$black: #000000;
$shadow: #101010;
$code-background: #29292e;
$lineNumber-background: #4F4F59