@use 'colorPalette' as colors;

.root{
    background-color: colors.$primary-color;
    color: colors.$white;
    font-family:  Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

