@use 'colorPalette' as colors;

.root{
    display: flex;
    flex-direction: column;
    color: colors.$white;
    margin: 0;
}

.title{
    font-size: 2rem;
    margin-left: 0;
    @media(max-width: 500px){
        font-size: 1.5rem;
    }
}

.subTitle{
    font-size: 1.5rem;
    margin-left: 0;
    @media(max-width: 500px){
        font-size: 1.2rem;
    }
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0;
}
