@use 'colorPalette' as colors;

.root{
    box-shadow: 0 0 10px colors.$shadow;
    margin: 0.9rem 0.9rem;
    padding: 10px;
    border-radius: 30px;
    max-width: 850px;
    color: colors.$white;
    background-color: colors.$primary-color;
    * {
        margin: 0.6rem;;
    }
}

.title{
    font-size: 3rem;
}

.subTitle{
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.2rem;
    letter-spacing: 0.04rem;
    margin: 0.5rem;
}