@use '_colorPalette' as colors;

.root{
    border: 1px solid colors.$shadow;
    border-radius: 0.5rem;
    overflow-x: scroll;
    background-color: colors.$code-background;
    .preserve{
        margin: 0;
        .line{ 
            display: flex;
            flex-direction: row;
            margin: 0;
            line-height: 1.6rem;
            align-items: center;
            .lineNumber{
                width: 1.6rem;
                background-color: colors.$lineNumber-background;
                position: absolute;
                margin: 0;
                text-align: right;
                min-height: 1.55rem;
                padding-right: 0.1rem;
               
            }
            
            .code{          
                margin: 0 2.6rem;
                min-height: 1.55rem;
                @media (max-width: 500px) {
                    max-width: 0px;
                }
            }
        }
    }
}
.firstLine{
    border-top-left-radius: 0.4rem;
    @extend .lineNumber;
}
