@use 'colorPalette' as colors;

.root{
    align-self: flex-end;
    order: 1;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid colors.$white;
    font-size: 1rem;
    color: colors.$white;
    @media(max-width: 500px){
        align-self: center;
    }
}

.root:hover{
    border-color: colors.$tertiary-color;
    color: colors.$tertiary-color;
}