@use 'colorPalette' as colors;

.root{
    color: colors.$quaternary-color;
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        a{
            text-decoration: none;
            color: colors.$white;
        }
    }
}

.hidden{
    display: none;
}
