.root{
    color: black;
    z-index: 1000;
    position: absolute;
    display: flex;
    text-decoration: none;
    width: 100vw;
    justify-content: space-evenly;
    font-size: 2rem;
}

a{
    color: inherit;
    text-decoration: inherit;
}

