@use 'colorPalette' as colors;

.root{
    height: 15vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    align-self: center;
    color: colors.$white;
    size: 3rem;
    margin: 0;
}

.subTitle{
    align-self: center;
    color: colors.$white;
    size: 2rem;
}