@use 'colorPalette' as colors;

.root{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    color: colors.$white;
    size: 3rem;
}

.subTitle{
    color: colors.$white;
    size: 2rem;
}