@use '_colorPalette' as colors;

.root {
  background-color: colors.$primary-color;
  background-image: url(../images/headerBackground.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: colors.$white;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
