@use '_colorPalette';

hr{
    border: 2px solid colorPalette.$tertiary-color;
    margin: 0;
}

.footerContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: colorPalette.$quaternary-color;
    padding: 2rem;
    color: colorPalette.$white
}

.socialMedia{
    display: flex;
    justify-content: space-around;
}