@use '_colorPalette' as colors;

.root{
    background-color: colors.$primary-color;
    background-image: url(../images/headerBackground.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: colors.$white;
}

.root h1{
    margin: 5rem 2rem;
    font-size: 3rem;
    text-align: right;
}

.root p{
    margin: 5rem 2rem;
    font-size: 2rem;
    text-align: right;
}